<div class="container">
  <div class="row">
    <div class="col-sm-4">
    <h3><%= t "stories.stories.hot_story" %></h3>
      <%= link_to image_tag("vo-thuong-sat-than.jpg", class: "story_main"), "#" %>
    </div>
    <div class="col-sm-8">
      <h3><%= t "stories.stories.stories_newest" %></h3>
      <% @stories.each do |story| %>
        <div class="col-sm-3 singe_story">
          <%= link_to image_tag(story.image, class: "story"), story %>
          <%= link_to story.name, story %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>
