<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div>
          <br>
          <span><%= t "layouts.footer.about" %></span>
          <hr>
        </div>
        <div>
          <p><%= t "layouts.footer.description" %></p>
        </div>
      </div>
      <div class="col-sm-6">
        <div>
          <br>
          <span><%= t "layouts.footer.contact" %></span>
          <hr>
        </div>
        <div>
          <p><%= t "layouts.footer.email" %></p>
          <%= link_to t("layouts.footer.terms"), "#" %>
        </div>
      </div>
    </div>
  </div>
  <div class="text_left">
  	&copy; Le Duc Anh
  </div>
</footer>
