<li>
  <%= link_to stories_path do %>
    <%= t "layouts.header.story_manager" %>
    <span class="glyphicon glyphicon-file"></span>
  <% end %>
</li>
<li>
  <%= link_to "#" do %>
    <%= t "layouts.header.category_manager" %>
    <span class="glyphicon glyphicon-list-alt"></span>
  <% end %>
</li>
<li>
  <%= link_to "#" do %>
    <%= t "layouts.header.user_manager" %>
    <span class="glyphicon glyphicon-user"></span>
  <% end %>
</li>
