<header>
  <div class = "container">
    <%= link_to "TTT", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Trang chủ", root_path %></li>
        <li class="dropdown">
          <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
            <%= "Danh sách" %><b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "loại 1", "#" %></li>
            <li><%= link_to "loại ...", "#" %></li>
          </ul>
        </li>
        <li class="dropdown">
          <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
            <%= "Thể loại" %><b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "Thể loại 1", "#" %></li>
            <li><%= link_to "Thể loại ...", "#" %></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to "Đăng ký", "#" %>
      </li>
        <li>
          <%= link_to "#" do %>
            <%= "Đăng nhập" %>
            <span class="glyphicon glyphicon-log-in"></span>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="center">
  <p>Đọc truyện online, đọc truyện chữ, truyện hay. 
    Tổng hợp đầy đủ và cập nhật liên tục.</p>
</div>
