<header>
  <div class = "container">
    <%= link_to t("layout.header.story"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to t("layouts.header.home"), root_path %></li>
        <li class="dropdown">
          <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
            <%= t "layouts.list" %><b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to t("layouts.header.list"), "#" %></li>
            <li><%= link_to t("layouts.header.list"), "#" %></li>
          </ul>
        </li>
        <li class="dropdown">
          <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
            <%= t "layouts.header.categories" %><b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to t("layouts.header.categories"), "#" %></li>
            <li><%= link_to t("layouts.header.categories"), "#" %></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to stories_path do %>
            <%= t "layouts.header.story_manager" %>
            <span class="glyphicon glyphicon-file"></span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <%= t "layouts.header.category_manager" %>
            <span class="glyphicon glyphicon-list-alt"></span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <%= t "layouts.header.user_manager" %>
            <span class="glyphicon glyphicon-user"></span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <%= t "layouts.header.login" %>
            <span class="glyphicon glyphicon-log-in"></span>
          <% end %>
        </li>
        <li>
          <%= link_to t("layouts.header.signup"), "#" %>
        </li>
        <li>
          <%= link_to image_tag("icon_en.png", class: "icon_en"), locale:"en" %>
        </li>
      </ul>
    </nav>
  </div>
</header>
