<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= render "layouts/rails_default" %>
 </head>

  <body>
    <%= render "layouts/header" %>
    <div class="min_body"> 
      <%= yield %>
    </div>
    <div>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
